<div class="bg-body dark:bg-darkmode-body">
  <!-- Add debug info -->
  <div style="display: none;">
    Language: {{ .Lang }}
    Summary Length: {{ site.Params.summary_length }}
    Chinese Summary Length: {{ site.Params.chinese_summary_length }}
  </div>
  {{ $image := .Params.image }}
  {{ if $image }}
    <img
      class="mb-6 w-full rounded"
      src="{{ $image | relURL }}"
      alt="{{ .Title }}"
      width="445"
      height="230"
    />
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  <p class="mb-6">
    {{ if eq .Lang "zh" }}
      {{ .Plain | truncate 180 "..." }}
    {{ else }}
      {{ .Plain | truncate 120 "..." }}
    {{ end }}
  </p>
  <a class="btn btn-primary btn-sm" href="{{ .RelPermalink }}">
    {{ i18n "read_more" }}
  </a>
</div>
