{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section">
    <div class="container">
      <div class="row gy-4 justify-center">
        {{ range .RegularPages }}
          <div class="lg:col-4 md:col-6">
            <div class="bg-theme-light dark:bg-darkmode-theme-light rounded-lg p-6">
              {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "mb-6 rounded-lg") }}
              <h4 class="mb-3">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </h4>
              <p class="mb-6">{{ .Summary }}</p>
              <a class="btn btn-primary btn-sm" href="{{ .RelPermalink }}">
                Read More
                <i class="fa fa-arrow-right pl-2"></i>
              </a>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
