{{ with .Params.blog_section }}
  {{ if .enable }}
    <section class="section-sm">
      <div class="container">
        <h2 class="h3 mb-6 text-center">{{ .title }}</h2>
        <div class="row gy-4 justify-center items-stretch">
          {{ $posts := sort (where site.RegularPages "Section" "blog") "Date" "desc" }}
          {{ range first (.show_posts | default 3) $posts }}
            <div class="lg:col-4 md:col-6 flex">
              <div class="bg-theme-light dark:bg-darkmode-theme-light rounded-lg p-8 text-center flex flex-col flex-1">
                {{ with .Params.image }}
                  <img
                    class="mx-auto mb-6 rounded-lg"
                    src="{{ . | absURL }}"
                    alt="{{ $.Title }}"
                    width="300"
                    height="200"
                  />
                {{ end }}
                <h4 class="mb-3">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h4>
                <p class="mb-4">
                  {{ if eq .Lang "zh" }}
                    {{ .Plain | truncate 125 }}
                  {{ else }}
                    {{ .Plain | truncate 100 }}
                  {{ end }}
                </p>
                <a class="btn btn-primary btn-sm mt-auto" href="{{ .RelPermalink }}">
                  {{ i18n "read_more" }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}